body {
  background: url(https://img.freepik.com/free-vector/flat-design-monsoon-season-clouds-illustration_23-2149424294.jpg?w=1060&t=st=1689972277~exp=1689972877~hmac=f597ad7b3298f9da6deb2af1311d870d57b51ef97624789057fe3a65af4bfa39);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.weather-box {
  border: 2px solid white;
  padding: 70px;
  border-radius: 50px;
  background-color: azure;
}

.city-color {
  color: purple;
}
.des-color {
  font-style: italic;
  color: blue;
}